<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iterable.iterableapi">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--FCM-->
        <service
            android:name="com.iterable.iterableapi.IterableFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.iterable.iterableapi.IterableFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Action receiver for push interactions -->
        <receiver
            android:name="com.iterable.iterableapi.IterablePushActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.iterable.push.ACTION_PUSH_ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
